# Blocks
public net.minecraft.world.level.block.Blocks m_50805_(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;)Z # never
# FeatureRenderDispatcher
public-f net.minecraft.client.renderer.feature.FeatureRenderDispatcher f_412745_ # bufferSource
