# Blocks
public net.minecraft.block.Blocks func_235436_b_(Lnet/minecraft/block/BlockState;Lnet/minecraft/world/IBlockReader;Lnet/minecraft/util/math/BlockPos;)Z # never
# PlayerInventory
public net.minecraft.entity.player.PlayerInventory func_70452_e(Lnet/minecraft/item/ItemStack;)I # addResource
# SimpleResource
public net.minecraft.resources.SimpleResource field_199037_g # metadata