# Blocks
public net.minecraft.world.level.block.Blocks never(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;)Z
# Inventory
public net.minecraft.world.entity.player.Inventory addResource(Lnet/minecraft/world/item/ItemStack;)I
# Minecraft
public net.minecraft.client.Minecraft resourcePackRepository
# FeatureRenderDispatcher
public-f net.minecraft.client.renderer.feature.FeatureRenderDispatcher bufferSource
